<div class="row">
  <div class="col-md-9"><h4>Executive list</h4></div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" (click)="addExecutive()">
      Add Executive
    </button>
  </div>
</div>
<br>

<div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg">
  <table class="table table-striped table-hover table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col">Sr</th>
        <th scope="col">Title</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Exe Group</th>
        <th scope="col">Office ID</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let executive of allExecutives.value; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{executive.title}}</td>
        <td>{{executive.firstName}}</td>
        <td>{{executive.lastName}}</td>
        <td>{{executive.jobTitle}}</td>
        <td>{{executive.executiveGroup.name}}</td>
        <td>{{executive.officeId}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm"
            (click)="execDetails(executive.id, 'view')">View</button>&nbsp;
          <button type="button" class="btn btn-warning btn-sm" (click)="execDetails(executive.id, 'edit')">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>